<form id="loginForm" method="post">
    #if($authenticationFailed)
        <p class="bad notification">Login failed</p>
    #elseif($authenticationSucceeded)
        <p class="good notification">Login succeeded</p>
    <h1>Authentication required</h1>
    <p>To change mode, please authenticatte</p>
    <label>Login:</label>
    <input type="text" name="username" placeholder="login" value="" required>
    <label>Password:</label>
    <input type="password" name="password" placeholder="password" value="" required>
    #if($loginRedirect)
        <input type="hidden" name="loginRedirect" value="$loginRedirect">
    #end
    <input type="submit" value="Login">
</form>